A string is created by enclosing text in quotes. You can use either single quotes,`'`, or double quotes, `"`. A triple-quote can be used for multi-line strings. Here are some examples:

In [ ]:
a = "Hello" # assign string to a variable
print('Class of a: ', type(a))
print(a)

b = 'Hello'
print(b)

Class of a:  <class 'str'>
Hello
Hello

In [ ]:
# multiline string
a = '''line 1, 
line 2,
line 3,
line 4.'''


print(a)

line 1,
line 2,
line 3,
line 4.

**Empty string:** The empty string `''` is the string equivalent of the number 0. It is a string with
nothing in it. We have seen it before, in the print statement’s optional argument, `sep=''`.

In [ ]:
print('1', '2', '3', sep='*', end='')
print('hjgjhg')

1*2*3hjgjhg

**Length:** To get the length of a string (how many characters it has), use the built-in function `len`.
For example,

In [ ]:
a = 'Hello'
len(a)

5

# Indexing

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string.

In [ ]:
a = "Hello, World!"
print('First character of string a:', a[0]) 
print('Second character of string a:', a[1])

First character of string a: H
Second character of string a: e

In [ ]:
print('Last character of string a:', a[-1]) 
print('Second-to-last character of string a:', a[-2])

Last character of string a: !
Second-to-last character of string a: d

In [ ]:
a[6]

' '

A common mistake is to request for an index that is out of the range.

In [ ]:
a[20]

IndexError: ignored

# Slicing

You can return a range of characters by using the slice syntax.
Specify the start index and the end index, separated by a colon, to return a part of the string. The intuition behind slicing is similar to the `range()` function.

In [ ]:
print("Characters at indices 2, 3, 4:", a[2:5]) # range(2, 5)

Characters at indices 2, 3, 4: llo

In [ ]:
a = "Hello, World!"

In [ ]:
print("First 5 characters:", a[ :5]) # range(5)

First 5 characters: Hello

In [ ]:
print("Characters from index 5 to the end:", a[5: ])

Characters from index 5 to the end: , World!

In [ ]:
print("Last two characters:", a[-2: ])

Last two characters: d!

In [ ]:
print("Entire string:", a[ : ])

Entire string: Hello, World!

In [ ]:
print("Characters from index 1 to 6 by two steps:", a[1:7:2]) # range(1, 7, 2)

Characters from index 1 to 6 by two steps: el,

Use **negative indexes** to start the slice from the end of the string.

In [ ]:
print("Characters from the 5th to 2nd index from the end:", a[-5:-2])

Characters from the 5th to 2nd index from the end: orl

In [ ]:
print('Reverses the string:', a[::-1])

Reverses the string: !dlroW ,olleH

# String Methods

The `strip()` method removes any whitespace from the beginning or the end.

In [ ]:
a = " Hello, World! "
print(a.strip()) 
print(a)

Hello, World!
 Hello, World!

If the chars argument is not provided, all leading and trailing whitespaces are removed from the string. It returns the copy of modified string.

In [ ]:
str1 = "0000000this is string (00000 ) example....wow!!!00000000000000000"
print(str1.strip('0'))
print(str1)

The `replace()` method returns a copy of the string, where all occurrences of a substring is replaced with another substring.

In [ ]:
str1 = " something some something"
str2 = str1.replace('some', '$')
print(str2)
print(str1)

 $thing $ $thing
 something some something

In [ ]:
str1 = "0t0t0t0t0this is string (00000 ) example....wow!!!00000000000000000t"
print(str1.strip('t0'))
print(str1)

his is string (00000 ) example....wow!!!
0t0t0t0t0this is string (00000 ) example....wow!!!00000000000000000t

The `lower()` method returns the string in lower case.

In [ ]:
a = "Hello, World!"
print( a.lower() )

hello, world!

The `upper()` method returns the string in upper case.

In [ ]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**Important note:** `lower`, `upper`, and `replace` do not
change the original string.

The `count(x)` method counts the number of occurrences of character `x` in the string

In [ ]:
a.count('l')

3

The `index(x)` method returns the location of the first occurrence of `x`

In [ ]:
a.index('o')

4

The `isalpha()` method returns `True` if every character of the string is a letter

In [ ]:
a.isalpha()

False

In [ ]:
b = '43'
b.isdigit()

True

**Other string methods:** There are many more string methods. For instance, there are methods
`isdigit` and `isalnum`, which are analogous to `isalpha`. 

Some other useful methods we will
learn about later are `join` and `split`. 

To see a list of all the string methods, type `dir(str)`. 

To read Python's documentation for one of the methods, say the `isdigit` method, type
`help(str.isdigit)`.

In [ ]:
dir(str)

In [ ]:
help(str.isalnum)

Help on method_descriptor:

isalnum(self, /)
    Return True if the string is an alpha-numeric string, False otherwise.

    A string is alpha-numeric if all characters in the string are alpha-numeric and
    there is at least one character in the string.

# The in Operator

To check if a certain phrase or character is present in a string, we can use the keywords ՝in՝ or ՝not in՝.

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
y = "abcd" in txt
print(x)
print(y)

True
False

In [ ]:
if  ';' in 'Hello World':
  print('Your string does not contain any semicolons.')

# Concatenation and Repetition

The operators `+` and `*` can be used on strings. 

* The `+` operator combines two strings. This operation
is called **concatenation**. 

* The `*` repeats a string a certain number of times. Here are some examples.

In [ ]:
a = "Hello"
b = "World"
c = a + b 
print(c)

HelloWorld

In [ ]:
print('-' * 15)

---------------

In [ ]:
print('Hi' * 15)

HiHiHiHiHiHiHiHiHiHiHiHiHiHiHi

This code repeatedly asks the
user to enter a letter and builds up a string consisting of only the vowels (ձայնավոր) that the user entered.

In [ ]:
s = ''
for i in range(10):
  t = input('Enter a letter: ')
  if t in 'aeiou':
    s = s + t   # s += t
print(s)

Enter a letter: a
Enter a letter: b
Enter a letter: c
Enter a letter: d
Enter a letter: e
Enter a letter: f
Enter a letter: g
Enter a letter: o
Enter a letter: a
Enter a letter: 1
aeoa

# Escape Characters

The backslash, `\`, is used to get certain special characters, called **escape characters**, into your string.
There are a variety of escape characters, and here are the most useful ones:

* `\n` the **newline** character. It is used to pass to the next line. Here is an example:

In [ ]:
print('Coding\nis\nfun!')

Coding
is
fun!

* `\'` for inserting **apostrophes** into strings. Say you have the following string:

In [ ]:
print('I can't go')

SyntaxError: ignored

In [ ]:
print('I can\'t go')

I can't go

The same holds for `\"` or `\\` (to get the backslash itself).

* `\t` for the **tab** character

In [ ]:
print('\tHello')

	Hello

What will be the output of the following code?

In [ ]:
print('\n'*9)

When prefixed with the letter `r` or `R` a string literal becomes a raw string and the escape characters such as `\n` are not converted.

In [ ]:
print(r'\nHello')
print(R'\nHello')

\nHello
\nHello

## String Format

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this.

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

But we can combine strings and numbers by using the format() method!
The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

The format() method takes unlimited number of arguments, and are placed into the respective placeholders.

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders.

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

We can do this with shorter code in this way:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
print(f"I want to pay {quantity} dollars for {itemno} pieces of item {price}.")

I want to pay 4 dollars for 567 pieces of item 49.95.

## Deleting or changing a String

Strings are immutable. This means that elements of a string cannot be changed once it has been assigned. We can simply reassign different strings to the same name.

In [ ]:
a = 'Hello'
a[3] = 'm'

TypeError: ignored

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the keyword **del**.

In [ ]:
del a[1]

TypeError: ignored

In [ ]:
del a
a

NameError: ignored

Here is code that will change the character at index 3 to 'X':

In [ ]:
a = 'Hello' 
b = a
a = a[:3] + 'X' + a[4:]
print(a)
print(b)

HelXo
Hello

## Iterating Through String

Using for loop we can iterate through a string. Here is an example to count the number of 'l' in a string.

In [ ]:
str1 = 'Hello Worlds!'
for element in str1: 
    print(element, end=' ')

H e l l o   W o r l d s !

If we want to keep track of our location, we can do

In [ ]:
for i in range( len(str1) ): 
    print(str1[i], end=' ')

H e l l o   W o r l d s !

In [ ]:
str1 = str1 + 'a'

In [ ]:
str1 += 'a'
print(str1)

Hello Worlds!aa

# Exercises

1. Using for loop iterate through the string `Hello world` and count the number of 'l's in it.

  Անցնել `Hello world` տեքստի վրայով և հաշվել դրա մեջ `l` տառի հաճախականությունը՝ օգտագործելով for ցիկլ։

In [ ]:
count = 0
for i in "Hello world":
  if i == 'l':
    count += 1
print(count)

3

2. Write a program that asks the user for a string and prints out the location of each `a`
in the string.

Գրել ծրագիր, որը վերցնում է օգտատիրոջ կողմից մուտքագրված տեքստը և տպում է նրա մեջ հանդիպող `a` տառի ինդեքսները։

In [ ]:
txt = str(input('Input a text - '))
count = -1
for i in txt:
  count += 1
  if i == 'a':
    print(f'a in index {count}')

Input a text - aaaa
a in index 0
a in index 1
a in index 2
a in index 3

3. Write a program that asks the user for a string and creates a new string that doubles each character of the original string. For instance, if the user enters `Hello`, the output should be `HHeelllloo`.

  Գրել ծրագիր, որը վերցնում է օգտատիրոջ կողմից մուտքագրված տեքստը և պատրաստում է նոր տեքստ, որի մեջ գրված են մուտքագրված բառի տառերը կրկնապատկված։ Օրինակ՝ `Hello` բառի համար կվերադարձնի `HHeelllloo`։

In [ ]:
txt = str(input('Input a text - '))
txt2 = ""
for i in txt:
  txt2 += i + i
print(txt2)

Input a text - hello
hheelllloo

4. Write a program that asks a user for their name and prints it in the following way:

  `N Ns Nsh Nsha Nshan`.

  Hint: use a for loop.

  Գրել ծրագիր, որը վերցնում է օգտատիրոջ անունը և տպում է այն հետևյալ կերպ․

  `N Ns Nsh Nsha Nshan`

  Հուշում․ օգտագործել for ցիկլ։

In [ ]:
txt = str(input('Input a text - '))
txt2 = ''
for i in txt:
  txt2 += i
  print(txt2, end=' ')

Input a text - kamo
k ka kam kamo

5. Write a program that removes all capitalization and common punctuation (`,.;:-?!()\'"`) from a
string `s`.

  Գրել ծրագիր, որը դարձնում է `s` տեքստի մեծատառերը՝ փոքրատառ և ջնջում է տեքստում առկա հետևյալ կետադրական նշանները՝ `,.;:-?!()\'"`։

In [ ]:
txt = str(input('Input a text - '))
txt2 = ''
for i in txt:
  if i not in r"',.;:-?!\()\"":
    txt2 += i
print(txt2.lower())

Input a text - abcAD"'':()
abcad

6. Write a program that, given a string that contains a decimal number, prints out the
decimal part of the number. For instance, if given `3.14159`, the program should print out `.14159`.

  Գրել ծրագիր, որը վերցնում է տասնորդական թիվ՝ որպես տեքստ և տպում է դրա տասնորդական կարգը, այսինքն՝ օրինակ  `3.14159`-ի համար ծրագիրը պետք է տպի `.14159`։

# Lists

Suppose we need to get thirty test scores from a user and do something with them, like put them
in order. We could create thirty variables, `score1`, `score2`, . . . , `score30`, but that would be very
tedious. To then put the scores in order would be extremely difficult. The solution is to use `lists`․

* Lists are Python's most flexible ordered collection object type. 

* Lists can contain any sort of object: numbers, strings, and even other lists. 

* They may be changed in place by assignment to offsets and slices, list method calls, deletion statements, and more. 

* Lists  are mutable objects, which means that they can be changed in place.

In [ ]:
my_list = [1, 3, 5, 7, 9]
print(my_list)

We use square brackets `[]` to indicate the start and end of the list, and separate the items by commas `,`.

**Empty list:** The empty list is `[]`. It is the list equivalent of `0` or `''`.

**Printing lists:** You can use the `print` function to print the entire contents of a list.

**Input:** We can use `eval(input())` to allow the user to enter a list. Here is an example:

In [ ]:
L = eval(input('Enter a list: '))
print('The first element is ', L[0])

**Data types:** Lists can contain all kinds of things, even other lists. For example, the following is a
valid list:

In [ ]:
[1, 2.718, 'abc', [5,6,7]]

## Similarities to strings

There are many things which work the same way for `lists` as for `strings`.

* `len` - The number of items in L is given by `len(L)`.

In [ ]:
len(my_list)
print(my_list)

* `in` - The `in` operator tells you if a list contains something. Here are some examples:

In [ ]:
if 2 in my_list:
  print('Your list contains the number 2.')

if 0 not in my_list:
  print('Your list has no zeroes.')

* `Indexing and slicing` - these work exactly as with strings.

In [ ]:
print(my_list)
# indexing starts at 0
print(my_list[2])

# negative: count from the right
print(my_list[-2])

# slicing list
# from index 1, up to but not including index 3
print(my_list[1:3])

In [ ]:
# taking each 2nd element from list
my_list[::2]

In [ ]:
# taking each 2nd element from list starting from 2nd element
my_list[1::2]

In [ ]:
# reverse list
print(my_list[::-1])
print(my_list)

In [ ]:
a = [0,0,0]
if a:
  print(a)

* `+` and `*` - The `+` operator adds one list to the end of another. The `*` operator repeats a list.
Here are some examples:

In [ ]:
# concatenate lists
[1, 2, 3] + [4, 5, 6]

In [ ]:
# repeat a the elements of the list
my_list * 4

* The same two types of `loops` that work for `strings` also work for `lists`.

In [ ]:
# iteration over list elements
for i in my_list:
  print(i * 4, end=' ')

In [ ]:
# iteration over list indices
for i in range(len(my_list)):
  print(my_list[i], end=' ')

## Changing lists in place

Lists are **mutable**, so they support operations that change a list object in place (by overwriting its former value).

In [ ]:
print(my_list)
# index assignment
my_list[2] = 8
print(my_list)

In [ ]:
# slice assignment
my_list[:2] = ['one', 'three']
print(my_list)

In [ ]:
# we can insert an additional element during the replacement
my_list[2:3] = ['four', 'five']
print(my_list)

In [ ]:
# inserting without replacement
my_list[1:1] = ['two']
print(my_list)

In [ ]:
# deletion (inserting nothing)
my_list[5:7] = []
print(my_list)

In [ ]:
# other way to delete an item
del my_list[0]
my_list

In [ ]:
# delete a slice
del my_list[:2]
my_list

**Making copies of lists:** Making copies of lists is a little tricky due to the way Python handles lists.
Say we have a list `L` and we want to make a copy of the list and call it `M`. The expression `M = L` will
not work.

In [ ]:
L = [1,2,3]
copy = L
L[0] = 9
print('L is now:', L, ' Copy:', copy)

L is now: [9, 2, 3]  Copy: [9, 2, 3]

We can see that the code did not work as we might have expected. When we changed `L`, the `copy` got changed as well. We can use the following code to actually copy (**shallow copy**) a list.

In [ ]:
a = [7, 8]
L = [1,2,3]
# copy = L[:] # this line copies L
copy = L.copy()
L[0] = 9
print('L is now:', L, ' Copy:', copy)

L is now: [9, 2, 3]  Copy: [1, 2, 3]

In [ ]:
a = [7, 8]
L = [1,2,3, a]
copy = L.copy()
L[-1][0] = 9
print('L is now:', L, ' Copy:', copy)

L is now: [1, 2, 3, [9, 8]]  Copy: [1, 2, 3, [9, 8]]

In [ ]:
import copy
a = [7, 8]
L = [1,2,3, a]
copy = copy.deepcopy(L)
L[-1][0] = 0
L[0] = 9
print('L is now:', L, ' Copy:', copy)
print(id(L))
print(id(copy))

L is now: [9, 2, 3, [0, 8]]  Copy: [1, 2, 3, [7, 8]]
10914720
10914720

* Making a shallow copy of an object won't clone child objects. Therefore, the copy is not fully independent of the original.
* A deep copy of an object will recursively clone child objects. The clone is fully independent of the original, but creating a deep copy is slower.

The reason behind this behaviour is **referencing**. 

Remember that everything in Python is an object. This includes **numbers**, **strings**, and **lists**. When we do a simple variable assignment, like `x=487`, what actually happens is Python creates an integer
object with the value `487`, and the variable `x` acts as a **reference to that object**. If we come along and declare `y=487`, then `y` also points to that same memory location.

When we set `L=[1,2,3]`, we create a list object `[1,2,3]` and a reference, `L`, to it. When we say
`copy=L`, we are making another reference to the object `[1,2,3]`. When we do `L[0]=9`, **because
lists are mutable**, the list `[1,2,3]` is changed in place to `[9,2,3]`. No new object is created.
The list `[1,2,3]` is now gone, and since copy is still pointing to the same location, it’s value is
`[9,2,3]`.

On the other hand, if we instead use `copy=L[:]`, we are actually **creating a new list object** somewhere
else in memory so that there are two copies of `[1,2,3]` in memory. Then when we do
`L[0]=9`, we are only changing the thing that `L` points to, and copy still points to `[1,2,3]`.

## List method calls

The above mentioned operations (insertion, deletion, reversion etc.) can be done with explicit type-specific method calls. 

* `append(x)` - adds `x` to the end of the list

In [ ]:
append_list = [1, 3, 5, 7, 9]
append_list.append([13, 15])
# append_list.append(13)
print(append_list)

[1, 3, 5, 7, 9, [13, 15]]

* `extend(x)` - continues the list with elements in `x`, here `x` needs to be an iterable object (for example it cannot be a single number)

In [ ]:
extend_list = [1, 3, 5, 7, 9] 
extend_list.extend([13, 15]) 
print(extend_list)

[1, 3, 5, 7, 9, 13, 15]

* `index(x)` - returns the location of the first occurrence of `x`

In [ ]:
new_list = [1, 9, '9', '9']
new_list.index('9')

2

* `insert(p, x)` - inserts `x` at index `p` of the list

In [ ]:
new_list.insert(2, 9)
print(new_list)

[1, 9, 9, '9', '9']

* `remove(x)` removes first occurrence of `x` from the list

In [ ]:
new_list.remove('9')
print(new_list)

* `pop(p)` removes the item at index `p` and returns its value

In [ ]:
new_list.pop(-1)

'9'

In [ ]:
print(new_list)

[1, 9, 9]

* `count(x)` returns the number of times `x` occurs in the list

In [ ]:
# count number of occurrences
# how many 9s does this list contain
new_list.count(9)

2

* `sort()` - sorts the list

In [ ]:
# sorting a list (by default ascending (increasing) order )
new_list.sort()
new_list  # upper case letters come first

[1, 9, 9]

In [ ]:
# sorting in descending order
new_list.sort(reverse=True)
new_list

[9, 9, 1]

In [ ]:
new_list = ['Ab', 'a', 'g', 'b']

In [ ]:
# we can ignore the case type by considering the items as lower case
new_list.sort()
new_list

['Ab', 'a', 'b', 'g']

* `reverse()` - reverses the list

In [ ]:
new_list = ['We', 'need', 'a', 'list']
# reverse the list in place
new_list.reverse()
print(new_list)

['list', 'a', 'need', 'We']

**Important note:** There is a big difference between `list methods` and `string methods`:

* String methods do not change the original string

* List methods do change the original list. 

For example, to sort a list `L`, just use `L.sort()` and not `L = L.sort()`. 

**Other list methods:** There are a few others list methods. Type help(list) to
see some documentation for them.

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## Built-in functions

There are several built-in functions that operate on lists, such as `len`, `sum`, `min`, `max` etc.

In [ ]:
len([1, 2, 3])

3

In [ ]:
sum([1, 2, 3])

6

In [ ]:
min([1, 2, 3])

1

In [ ]:
max([1, 2, 3])

3

Another option for list reversion, sorting using a built-in function

In [ ]:
list(reversed(new_list))

['We', 'need', 'a', 'list']

In [ ]:
new_list

['list', 'a', 'need', 'We']

In [ ]:
# another way to sort lists
sorted(new_list, key=str.lower, reverse=True)

['We', 'need', 'list', 'a']

## Random elements from a list

Earlier we learnt about the `random` module. There are some nice functions that work on lists. For example:

* `choice(L)` - selects a random item from L

In [ ]:
import random
print(random.choice([0, 1, 2, 3]))

0

* `sample(L, n)` - selects a group of `n` random items from `L`

In [ ]:
print(random.sample(['one', 'two', 'three'], 2))

['three', 'one']

Both `sample()` and `choice()` work on strings as well

* `shuffle(L)` - Shuffles the items of `L` **in place**

In [ ]:
L = ['one', 'two', 'three']
random.shuffle(L)
print(L)

['two', 'one', 'three']

## Split, Join strings

The `split()` method returns a list of words of a string. The method assumes that words are separated
by whitespace or other characters. Here is an example:

In [ ]:
s = 'Here are some words.'
print(s.split())

['Here', 'are', 'some', 'words.']

In [ ]:
s = 'Here - are - some - words.'
print(s.split(' - '))

['Here', 'are', 'some', 'words.']

The `join()` method is the opposite of `split()`. It is a string method that takes a `list of strings` and **joins them together** into a single string. Here are some examples:

In [ ]:
L = ['a', 'b', 'c']
print(''.join(L))

abc

In [ ]:
print(' '.join(L))

a b c

In [ ]:
print('-|-'.join(L))

a-|-b-|-c

# List comprehensions

List comprehensions are a powerful way to create lists using a **for** loop in one line. Here is a simple example:

In [ ]:
L = [i for i in range(5)]
print(L)

# L = []
# for i in range(5):
#   L += [i]
# print(L)

[0, 1, 2, 3, 4]

In [ ]:
[0 for i in range(10)]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
[i**3 for i in range(1,8)]

[1, 8, 27, 64, 125, 216, 343]

In [ ]:
[i*10 for i in L]

[0, 10, 20, 30, 40]

In [ ]:
string = 'Hello'
[c*2 for c in string]

['HH', 'ee', 'll', 'll', 'oo']

In [ ]:
k = ['one', 'two', 'three', 'four', 'five', 'six']
[m[0] for m in k]

['o', 't', 't', 'f', 'f', 's']

Combining a **ternary operator** in list comprehensions.

In [ ]:
L

[0, 1, 2, 3, 4]

In [ ]:
[i for i in L if i < 4]

[0, 1, 2, 3]

In [ ]:
[m[0] for m in k if len(m) == 3]

['o', 't', 's']

The above code could be written in the ordinary way like this:

In [ ]:
L = []
for m in k:
  if len(m) == 3:
    L.append(m[0])
print(L)

['o', 't', 's']

In [ ]:
[m[0] if len(m) == 3 else 'ok' for m in k]

['o', 't', 'ok', 'ok', 'ok', 's']

We can use more than one **for** loop in a list comprehension:

In [ ]:
L = [[i,j] for i in range(2) for j in range(2)]
print(L)

[[0, 0], [0, 1], [1, 0], [1, 1]]

This is the equivalent of the following code:

In [ ]:
L = []
for i in range(2):
  for j in range(2):
    L.append([i, j])
print(L)

[[0, 0], [0, 1], [1, 0], [1, 1]]

Here is another example:

In [ ]:
[[i, j] for i in range(1, 4) for j in range(i)]

## Two-dimensional lists

We can nest lists and other object types within lists. For example, we can use nested lists to represent matrices

In [ ]:
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

# or in one line 
# matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
[i[j] for i in matrix for j in range(len(i))]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

With one index we get one row (a nested sublist)

In [ ]:
matrix[2]

[7, 8, 9]

With two indices we get an item within the row

In [ ]:
print(matrix[2][1])
print(matrix[1][1])

8
5

We can process the items of a two-dimensional lists using nested for loops

In [ ]:
for row in matrix:
  for j in row:
    print(j, end=" ")

1 2 3 4 5 6 7 8 9

# Exercise

1. Write a program that removes the repeated items from a list and leaves only the unique values in the initial order.

  Գրել ծրագիր, որը կվերադարձնի list-ի յուրաքանչյուր տարր առանց կրկնության։

In [ ]:
my_list = ['a', 'b', 'c', 'c', 'd']
my_second_list = []
for i in my_list:
  if i not in my_second_list:
    print(i)
    my_second_list.append(i)

a
b
c
d

2. Write a program that counts the number of occurances of each item in the list. 

  Գրել ծրագիր, որը կհաշվի list-ի տարրերի հաճախականությունները։

In [ ]:
my_list = ['a', 'd', 'b', 'c', 'b', 'c', 'd', 'b']
my_list_2 = []
for i in my_list:
  if i not in my_list_2:
    print(f"{i} = {my_list.count(i)}")
    my_list_2.append(i)

a = 1
d = 2
b = 3
c = 2

3. Write a program that generates a list of 50 random numbers between 1 and 100. Count how many items in the list are greater than 50.

  Գրել ծրագիր, որը կստեղծի 50 պատահական ամբողջ թիվ 1-100 միջակայքից և կհաշվի 50-ից մեծ թվերի քանակը։

In [ ]:
import random
count = 0
my_list = []
for i in range(50):
  my_list.append(random.randint(1, 101))
for i in my_list:
  if i > 50:
    count += 1
print(count)

29

4. Write a program that prints out the 
* total number of elements
* sum of all elements
* two largest and two smallest elements 

of a list entered by the user.

  Գրել ծրագիր, որը կտպի օգտատիրոջ կողմից մուտքագրված list-ի
  * ընդհանուր էլեմենտների քանակը
  * բոլոր էլեմենտների գումարը
  * երկու ամենամեծ և ամենափոքր տարրերը

In [ ]:
my_list = []
temp_list = []
while True:
  num = int(input("Input numbers for list (input <0> for break) - "))
  if num == 0:
    break
  else:
    my_list.append(num)
print(f"Total numbers of elements - {len(my_list)}")
print(f"Sum of all elements - {sum(my_list)}")
for i in range (2):
  print(f"Largest element is - {max(my_list)}")
  print(f"Smallest element is - {min(my_list)}")
  temp_list.append(max(my_list))
  temp_list.append(min(my_list))
  my_list.remove(max(my_list))
  my_list.remove(min(my_list))
my_list += temp_list

Input numbers for list (input <0> for break) - 100
Input numbers for list (input <0> for break) - 200
Input numbers for list (input <0> for break) - 300
Input numbers for list (input <0> for break) - 400
Input numbers for list (input <0> for break) - 500
Input numbers for list (input <0> for break) - 600
Input numbers for list (input <0> for break) - 0
Total numbers of elements - 6
Sum of all elements - 2100
Largest element is - 600
Smallest element is - 100
Largest element is - 500
Smallest element is - 200